{% extends 'base.html' %}

{% block body %}
<!-- pills: https://i.imgur.com/xIvQndF.jpg -->
<body style="background-image:url('https://i.imgur.com/ErInj9i.jpg');
             background-size:100%;
             background-repeat:no-repeat;
             ">
<h1 style="font-size:300%;
               text-align:center;
               padding-top:200pt;
               class=text;
              ">A personalized, automated medication dispensing system to promote the health and well-being of you or your loved ones.</h1>
</body>

{% endblock %}
