{% extends 'base.html' %}

{% block header_links %}
    {% if user.is_authenticated %}
      <li class="nav-item"><p>Hi {{ user.username }}!</p></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'profile/edit' %}">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Signup</a></li>
    {% endif %}
{% endblock %}


{% block body %}
<h1>Choose one of the colours</h1>
<div id="drop-btn-cluster">
  <button class="btn btn-danger demo-btn" data-colour="red" data-module="0">Red</button>
  <button class="btn btn-warning demo-btn" data-colour="yellow" data-module="1">Yellow</button>
  <button class="btn btn-primary demo-btn" data-colour="blue" data-module="2">Blue</button>
</div>
<div id="demo-notification"></div>
<div id="reset-btn-cluster">
  <button class="btn btn-success">Yay!</button>
</div>
{% endblock %}