{% extends 'base.html' %}

{% block header_links %}
    {% if user.is_authenticated %}
      <li class="nav-item"><p>Hi {{ user.username }}!</p></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'profile/edit' %}">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'profile/medication' %}">Medication</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'profile/schedule' %}">Schedule</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Signup</a></li>
    {% endif %}
{% endblock %}


{% block body %}
<h1>Welcome to medispenser app!</h1>
{% endblock %}