{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col-md-12 col-lg-7">
        <div class="card">
            <div class="card-body">
                <h3>Medication Log</h3>
                <table class="table" id="medication-log">
                  <thead>
                      <tr>
                          <th scope="col">DateTime</th>
                          <th scope="col">Module Number</th>
                          <th scope="col">Medication</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for log in log_data %}
                      <tr>
                          <td>{{ log.created_at }}</td>
                          <td>{{ log.medication.module_num }}</td>
                          <td>{{ log.medication.pill_name }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}