{% extends 'base.html' %}

{% block header_links %}
    <li class="nav-item"><p>Hi {{ user.username }}!</p></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'profile/edit' %}">Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'profile/medication/info' %}">Medication Information</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'profile/medication/add' %}">Add Medication</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'profile/schedule' %}">Schedule</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12 col-lg-7">
        <div class="card">
            <div class="card-body">
                <h3>Medication Information</h3>

                <div class="details">

                    {% for x in med_data_list %}
                    {% for y in data_list %}
                        <h4> {{ x.pill_name }} </h4>
                        <h6> Medication: </h6><p>{{ x.module_num }} </p>
                        <h6> Category: </h6> <p> {{ y.category }} </p>
                        <h6> Day: </h6> <p> {{ y.day }} </p>
                        <h6> Time: </h6><p> {{ y.time }} </p>
                        <h6> Counter: </h6><p> {{ y.counter }} </p>
                    {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}