{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light container">
            <div class="navbar-brand">
                <h1><a href="/">Medispenser</a></h1>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="nav header-height">
                    {% block header_links %}{% endblock %}
                </ul>
            </div>
        </nav>
        <div>
            <h3>{% block title %}{% endblock %}</h3>
        </div>
        <div class="content container">
            {% include 'messages.html' %}
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>